.wrapper {
  margin-left: 30vw;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.card {
  max-width: 600px;
  width: 100%;
  padding: 30px;
  color: black;
  text-align: center;
}

.logo {
  display: block;
  margin: 0 auto 20px auto;
  height: 80px;
}

.description {
  font-size: 18px;
  line-height: 1.8;
  text-align: center;
  color: black;
}
